Repository tina-chat/tina-app: changes, and which Codemagic workflows are due for each by the changed paths.
All: PR Validation, Main Branch CI/CD, Quick Development Check

Path conditions:
  PR Validation: any of: apps/**, packages/**, melos.yaml, codemagic.yaml, pubspec.yaml, but not: **/*.md, **/README.md, docs/**
  Main Branch CI/CD: any of: apps/**, packages/**, melos.yaml, codemagic.yaml
  Quick Development Check: any of: apps/**, packages/**

bump versions
  apps/tina_app/pubspec.yaml
  packages/tina_ui/pubspec.yaml
  pubspec.lock
  widgetbook/pubspec.yaml
Due: PR Validation, Main Branch CI/CD, Quick Development Check

simplify the cache
  .github/workflows/ci.yml
Due: none

remove unused deps
  apps/tina_app/pubspec.yaml
  packages/tina_ui/pubspec.yaml
  pubspec.lock
  widgetbook/pubspec.yaml
Due: PR Validation, Main Branch CI/CD, Quick Development Check

melos action
  .github/workflows/ci.yml
Due: none

boostrap
  .github/workflows/ci.yml
Due: none

fix dependencies
  .github/workflows/ci.yml
  widgetbook/pubspec.yaml
Due: none

fix caches
  .github/workflows/ci.yml
  pubspec.yaml
Due: PR Validation

melos no lock
  .github/workflows/ci.yml
  pubspec.yaml
Due: PR Validation

comment pub-cache-path
  .github/workflows/ci.yml
Due: none

add exceptions to dependency
  apps/tina_app/dart_dependency_validator.yaml
  dart_dependency_validator.yaml
  packages/tina_ui/dart_dependency_validator.yaml
  widgetbook/dart_dependency_validator.yaml
Due: PR Validation, Main Branch CI/CD, Quick Development Check

codemagic fixes
  analysis_options.yaml
  codemagic.yaml
  pubspec.yaml
Due: PR Validation, Main Branch CI/CD

no sdk
  pubspec.yaml
Due: PR Validation

format localization
  pubspec.yaml
Due: PR Validation

chore: fix ci (#23)
  .github/workflows/ci.yml
  analysis_options.yaml
  apps/tina_app/dart_dependency_validator.yaml
  codemagic.yaml
  dart_dependency_validator.yaml
  packages/tina_ui/dart_dependency_validator.yaml
  pubspec.yaml
  widgetbook/dart_dependency_validator.yaml
Due: PR Validation, Main Branch CI/CD, Quick Development Check

data implementation of tools
  apps/tina_app/lib/data/database/drift/app_database.dart
  apps/tina_app/lib/data/database/drift/app_database.g.dart
  apps/tina_app/lib/data/database/drift/daos/conversation_tools_dao.dart
  apps/tina_app/lib/data/database/drift/daos/conversation_tools_dao.g.dart
  apps/tina_app/lib/data/database/drift/daos/workspace_tools_dao.dart
  apps/tina_app/lib/data/database/drift/daos/workspace_tools_dao.g.dart
  apps/tina_app/lib/data/database/drift/tables/conversation_disabled_tools_table.dart
  apps/tina_app/lib/data/database/drift/tables/workspace_tools_table.dart
  apps/tina_app/lib/data/repositories/conversation_tools_repository_impl.dart
  apps/tina_app/lib/data/repositories/workspace_tools_repository_impl.dart
  apps/tina_app/lib/domain/entities/conversation_tool.dart
  apps/tina_app/lib/domain/entities/conversation_tool.freezed.dart
  apps/tina_app/lib/domain/entities/workspace_tool.dart
  apps/tina_app/lib/domain/entities/workspace_tool.freezed.dart
  apps/tina_app/lib/domain/repositories/conversation_tools_repository.dart
  apps/tina_app/lib/domain/repositories/workspace_tools_repository.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

remove default tools for workspaces
  apps/tina_app/lib/data/database/drift/daos/workspace_tools_dao.dart
  apps/tina_app/lib/data/repositories/workspace_tools_repository_impl.dart
  apps/tina_app/lib/domain/repositories/workspace_tools_repository.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

workspace screen and tools
  apps/tina_app/assets/i18n/en.json
  apps/tina_app/assets/i18n/es.json
  apps/tina_app/lib/data/database/drift/daos/workspace_tools_dao.dart
  apps/tina_app/lib/data/repositories/workspace_tools_repository_impl.dart
  apps/tina_app/lib/domain/repositories/workspace_tools_repository.dart
  apps/tina_app/lib/features/tools/providers/workspace_tools_provider.dart
  apps/tina_app/lib/features/tools/providers/workspace_tools_provider.g.dart
  apps/tina_app/lib/features/tools/tools_screen.dart
  apps/tina_app/lib/features/tools/widgets/tool_count_enabled.dart
  apps/tina_app/lib/features/tools/widgets/tool_description.dart
  apps/tina_app/lib/features/tools/widgets/tool_icon.dart
  apps/tina_app/lib/features/tools/widgets/tool_name.dart
  apps/tina_app/lib/features/tools/widgets/tools_workspace_list.dart
  apps/tina_app/lib/i18n/locale_keys.dart
  apps/tina_app/lib/services/tools/tool_service.dart
  apps/tina_app/lib/services/tools/user_tools/calculator_tool.dart
  apps/tina_app/lib/services/tools/user_tools_entity.dart
  apps/tina_app/lib/services/tools/web_search_tool.dart
  apps/tina_app/lib/widgets/text_locale.dart
  apps/tina_app/pubspec.yaml
  packages/tina_ui/lib/src/atoms/tina_text.dart
  pubspec.lock
Due: PR Validation, Main Branch CI/CD, Quick Development Check

tools called
  CLAUDE.md
  apps/tina_app/lib/core/exceptions/conversation_exceptions.dart
  apps/tina_app/lib/data/database/drift/daos/conversation_tools_dao.dart
  apps/tina_app/lib/data/repositories/conversation_repository_impl.dart
  apps/tina_app/lib/data/repositories/conversation_tools_repository_impl.dart
  apps/tina_app/lib/domain/repositories/conversation_tools_repository.dart
  apps/tina_app/lib/features/chats/providers/messages_providers.dart
  apps/tina_app/lib/features/chats/providers/messages_providers.g.dart
  apps/tina_app/lib/features/chats/screens/chat_conversation_screen.dart
  apps/tina_app/lib/features/chats/screens/new_chat_screen.dart
  apps/tina_app/lib/features/chats/widgets/chat_input_widget.dart
  apps/tina_app/lib/features/chats/widgets/chat_messages_widget.dart
  apps/tina_app/lib/features/tools/providers/chat_tools_provider.dart
  apps/tina_app/lib/features/tools/providers/chat_tools_provider.g.dart
  apps/tina_app/lib/features/tools/providers/conversation_tools_provider.dart
  apps/tina_app/lib/features/tools/providers/conversation_tools_provider.g.dart
  apps/tina_app/lib/features/tools/providers/workspace_tools_provider.dart
  apps/tina_app/lib/features/tools/widgets/tools_management_modal.dart
  apps/tina_app/lib/providers/chatbot_service_provider.dart
  apps/tina_app/lib/providers/chatbot_service_provider.g.dart
  apps/tina_app/lib/providers/messages_manager_provider.dart
  apps/tina_app/lib/providers/messages_manager_provider.freezed.dart
  apps/tina_app/lib/providers/messages_manager_provider.g.dart
  apps/tina_app/lib/services/chatbot_service/chatbot_service.dart
  apps/tina_app/lib/services/tools/tool_service.dart
  apps/tina_app/lib/services/tools/user_tools_entity.dart
  apps/tina_app/macos/Podfile.lock
  apps/tina_app/pubspec.yaml
Due: PR Validation, Main Branch CI/CD, Quick Development Check

tools implemented
  apps/tina_app/lib/data/repositories/message_repository_impl.dart
  apps/tina_app/lib/domain/entities/conversation.dart
  apps/tina_app/lib/domain/entities/conversation.freezed.dart
  apps/tina_app/lib/domain/entities/conversation.g.dart
  apps/tina_app/lib/features/chats/providers/messages_providers.dart
  apps/tina_app/lib/features/chats/providers/messages_providers.g.dart
  apps/tina_app/lib/features/chats/widgets/chat_messages_widget.dart
  apps/tina_app/lib/features/tools/providers/conversation_tools_provider.g.dart
  apps/tina_app/lib/features/tools/providers/workspace_tools_provider.g.dart
  apps/tina_app/lib/providers/messages_manager_provider.dart
  apps/tina_app/lib/providers/messages_manager_provider.freezed.dart
  apps/tina_app/lib/providers/messages_manager_provider.g.dart
  apps/tina_app/lib/providers/tool_calling_manager_provider.dart
  apps/tina_app/lib/providers/tool_calling_manager_provider.freezed.dart
  apps/tina_app/lib/providers/tool_calling_manager_provider.g.dart
  apps/tina_app/lib/services/chatbot_service/chatbot_service.dart
  apps/tina_app/lib/services/chatbot_service/models/chat_message_models.dart
  apps/tina_app/lib/services/chatbot_service/models/chat_message_models.freezed.dart
  apps/tina_app/lib/services/tools/tool_execution_service.dart
  apps/tina_app/lib/services/tools/tool_service.dart
  apps/tina_app/lib/services/tools/user_tools/calculator_tool.dart
  apps/tina_app/lib/services/tools/user_tools_entity.dart
  apps/tina_app/lib/utils/encode.dart
  apps/tina_app/pubspec.yaml
Due: PR Validation, Main Branch CI/CD, Quick Development Check

update fluter 3.38.0
  .fvmrc
  .vscode/settings.json
  packages/tina_ui/lib/src/atoms/tina_screen.dart
  packages/tina_ui/lib/src/organisms/tina_sidebar.dart
  pubspec.lock
Due: PR Validation, Main Branch CI/CD, Quick Development Check

fix test
  packages/tina_ui/test/src/atoms/tina_spinner_test.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

chore: update fluter 3.38.0 (#27)
  .fvmrc
  .vscode/settings.json
  packages/tina_ui/lib/src/atoms/tina_screen.dart
  packages/tina_ui/lib/src/organisms/tina_sidebar.dart
  packages/tina_ui/test/src/atoms/tina_spinner_test.dart
  pubspec.lock
Due: PR Validation, Main Branch CI/CD, Quick Development Check

disable rules
  analysis_options.yaml
  apps/auravibes_app/analysis_options.yaml
  apps/auravibes_app/lib/providers/messages_manager_provider.dart
  apps/auravibes_app/lib/services/tools/user_tools_entity.dart
  apps/auravibes_app/pubspec.yaml
Due: PR Validation, Main Branch CI/CD, Quick Development Check

remove flutter lint dep
  apps/auravibes_app/pubspec.yaml
Due: PR Validation, Main Branch CI/CD, Quick Development Check

added deps
  apps/auravibes_app/pubspec.yaml
Due: PR Validation, Main Branch CI/CD, Quick Development Check

sort deps
  apps/auravibes_app/pubspec.yaml
Due: PR Validation, Main Branch CI/CD, Quick Development Check

fix: add model provider
  .vscode/settings.json
  apps/auravibes_app/assets/i18n/en.json
  apps/auravibes_app/assets/i18n/es.json
  apps/auravibes_app/ios/Podfile.lock
  apps/auravibes_app/ios/Runner.xcodeproj/project.pbxproj
  apps/auravibes_app/ios/Runner.xcworkspace/contents.xcworkspacedata
  apps/auravibes_app/lib/data/repositories/chat_model_repository_impl.dart
  apps/auravibes_app/lib/data/repositories/model_providers_repository_impl.dart
  apps/auravibes_app/lib/features/models/models/add_model_provider_model.dart
  apps/auravibes_app/lib/features/models/models/add_model_provider_model.freezed.dart
  apps/auravibes_app/lib/features/models/providers/add_model_provider_providers.dart
  apps/auravibes_app/lib/features/models/providers/add_model_provider_providers.g.dart
  apps/auravibes_app/lib/features/models/screens/models_screen.dart
  apps/auravibes_app/lib/features/models/widgets/add_chat_model.dart
  apps/auravibes_app/lib/features/models/widgets/enhanced_model_input.dart
  apps/auravibes_app/lib/features/tools/providers/chat_tools_provider.g.dart
  apps/auravibes_app/lib/features/tools/providers/conversation_tools_provider.g.dart
  apps/auravibes_app/lib/features/tools/providers/workspace_tools_provider.g.dart
  apps/auravibes_app/lib/i18n/locale_keys.dart
  apps/auravibes_app/lib/providers/chatbot_service_provider.g.dart
  apps/auravibes_app/lib/providers/messages_manager_provider.g.dart
  pubspec.lock
  widgetbook/lib/main.directories.g.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

ignore mutation import
  apps/auravibes_app/lib/features/models/widgets/add_chat_model.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

chore: button disabled prop
  apps/auravibes_app/ios/Runner.xcodeproj/project.pbxproj
  apps/auravibes_app/lib/features/chats/screens/new_chat_screen.dart
  apps/auravibes_app/lib/features/chats/widgets/chat_input_widget.dart
  apps/auravibes_app/lib/features/models/widgets/add_chat_model.dart
  packages/auravibes_ui/lib/src/atoms/auravibes_button.dart
  pubspec.lock
  widgetbook/lib/atoms/auravibes_button_stories.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

fix: add model provider (#29)
  .vscode/settings.json
  apps/auravibes_app/assets/i18n/en.json
  apps/auravibes_app/assets/i18n/es.json
  apps/auravibes_app/ios/Podfile.lock
  apps/auravibes_app/ios/Runner.xcodeproj/project.pbxproj
  apps/auravibes_app/ios/Runner.xcworkspace/contents.xcworkspacedata
  apps/auravibes_app/lib/data/repositories/chat_model_repository_impl.dart
  apps/auravibes_app/lib/data/repositories/model_providers_repository_impl.dart
  apps/auravibes_app/lib/features/chats/screens/new_chat_screen.dart
  apps/auravibes_app/lib/features/chats/widgets/chat_input_widget.dart
  apps/auravibes_app/lib/features/models/models/add_model_provider_model.dart
  apps/auravibes_app/lib/features/models/models/add_model_provider_model.freezed.dart
  apps/auravibes_app/lib/features/models/providers/add_model_provider_providers.dart
  apps/auravibes_app/lib/features/models/providers/add_model_provider_providers.g.dart
  apps/auravibes_app/lib/features/models/screens/models_screen.dart
  apps/auravibes_app/lib/features/models/widgets/add_chat_model.dart
  apps/auravibes_app/lib/features/models/widgets/enhanced_model_input.dart
  apps/auravibes_app/lib/features/tools/providers/chat_tools_provider.g.dart
  apps/auravibes_app/lib/features/tools/providers/conversation_tools_provider.g.dart
  apps/auravibes_app/lib/features/tools/providers/workspace_tools_provider.g.dart
  apps/auravibes_app/lib/i18n/locale_keys.dart
  apps/auravibes_app/lib/providers/chatbot_service_provider.g.dart
  apps/auravibes_app/lib/providers/messages_manager_provider.g.dart
  packages/auravibes_ui/lib/src/atoms/auravibes_button.dart
  widgetbook/lib/atoms/auravibes_button_stories.dart
  widgetbook/lib/main.directories.g.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

flutter 3.38.1
  .fvmrc
  .serena/memories/project_overview.md
  .vscode/settings.json
  AGENTS.md
  apps/auravibes_app/lib/data/database/drift/enums/message_table_enums.dart
  apps/auravibes_app/lib/domain/enums/chat_models_type.dart
  apps/auravibes_app/lib/domain/enums/message_types.dart
  apps/auravibes_app/lib/domain/enums/workspace_type.dart
  apps/auravibes_app/lib/services/tools/user_tools_entity.dart
  apps/auravibes_app/lib/widgets/auravibes_sidebar.dart
  apps/auravibes_app/pubspec.yaml
  packages/auravibes_ui/ATOMIC_DESIGN_STRUCTURE.md
  packages/auravibes_ui/pubspec.yaml
  prompts/dart-ops.txt
  pubspec.lock
  pubspec.yaml
  widgetbook/pubspec.yaml
Due: PR Validation, Main Branch CI/CD, Quick Development Check

flutter 3.38.1 (#30)
  .fvmrc
  .serena/memories/project_overview.md
  .vscode/settings.json
  AGENTS.md
  apps/auravibes_app/lib/data/database/drift/enums/message_table_enums.dart
  apps/auravibes_app/lib/domain/enums/chat_models_type.dart
  apps/auravibes_app/lib/domain/enums/message_types.dart
  apps/auravibes_app/lib/domain/enums/workspace_type.dart
  apps/auravibes_app/lib/services/tools/user_tools_entity.dart
  apps/auravibes_app/lib/widgets/auravibes_sidebar.dart
  apps/auravibes_app/pubspec.yaml
  packages/auravibes_ui/ATOMIC_DESIGN_STRUCTURE.md
  packages/auravibes_ui/pubspec.yaml
  prompts/dart-ops.txt
  pubspec.lock
  pubspec.yaml
  widgetbook/pubspec.yaml
Due: PR Validation, Main Branch CI/CD, Quick Development Check

feat: add models dev
  apps/auravibes_app/analysis_options.yaml
  apps/auravibes_app/lib/data/database/drift/app_database.dart
  apps/auravibes_app/lib/data/database/drift/app_database.g.dart
  apps/auravibes_app/lib/data/database/drift/converters/list_converter.dart
  apps/auravibes_app/lib/data/database/drift/daos/api_model_providers_dao.dart
  apps/auravibes_app/lib/data/database/drift/daos/api_model_providers_dao.g.dart
  apps/auravibes_app/lib/data/database/drift/daos/api_models_dao.dart
  apps/auravibes_app/lib/data/database/drift/daos/api_models_dao.g.dart
  apps/auravibes_app/lib/data/database/drift/tables/api_model_provider_table.dart
  apps/auravibes_app/lib/data/database/drift/tables/api_model_table.dart
  apps/auravibes_app/lib/data/repositories/api_model_repository_impl.dart
  apps/auravibes_app/lib/domain/entities/api_model.dart
  apps/auravibes_app/lib/domain/entities/api_model.freezed.dart
  apps/auravibes_app/lib/domain/entities/api_model_provider.dart
  apps/auravibes_app/lib/domain/entities/api_model_provider.freezed.dart
  apps/auravibes_app/lib/domain/entities/api_model_provider.g.dart
  apps/auravibes_app/lib/domain/repositories/api_model_repository.dart
  apps/auravibes_app/lib/features/models/providers/api_model_repository_providers.dart
  apps/auravibes_app/lib/features/models/providers/api_model_repository_providers.g.dart
  apps/auravibes_app/lib/main.dart
  apps/auravibes_app/lib/services/model_api_service.dart
  apps/auravibes_app/lib/services/model_sync_service.dart
  apps/auravibes_app/lib/utils/json.dart
  apps/auravibes_app/pubspec.yaml
  pubspec.lock
  widgetbook/lib/main.directories.g.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

remove unused packages
  apps/auravibes_app/pubspec.yaml
  pubspec.lock
Due: PR Validation, Main Branch CI/CD, Quick Development Check
