Repository tina-chat/tina-app: changes, and which Codemagic workflows are due for each by the changed paths.
All: PR Validation, Main Branch CI/CD, Quick Development Check

PR Validation:
  instance_type: mac_mini_m2
  max_build_duration: 20
  environment:
    flutter: fvm
  cache:
    cache_paths:
    - ~/.pub-cache
    - $FLUTTER_ROOT/.pub-cache
  scripts:
  - name: Setup Environment
    script: 'echo "Setting up Dart/Flutter environment..."
  
  ...

Main Branch CI/CD:
  instance_type: mac_mini_m2
  max_build_duration: 30
  environment:
    flutter: fvm
  cache:
    cache_paths:
    - ~/.pub-cache
    - $FLUTTER_ROOT/.pub-cache
  scripts:
  - name: Setup Environment
    script: 'echo "Setting up production environment..."
  
  ...

Quick Development Check:
  instance_type: mac_mini_m2
  max_build_duration: 10
  environment:
    flutter: fvm
  cache:
    cache_paths:
    - ~/.pub-cache
  scripts:
  - name: Quick Setup
    script: 'echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
  
      dart pub global activate melos
  
      '
  - name: Bootstrap and Quick Check
  ...

fix(tokens): correct documentation formatting in design_tokens.dart
  packages/tina_ui/lib/src/tokens/design_tokens.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

fix(docs): update agent commands to use FVM for dependency management
  AGENTS.md
  packages/tina_ui/lib/src/atoms/tina_app_bar_action.dart
  packages/tina_ui/test/src/atoms/tina_app_bar_action_test.dart
  packages/tina_ui/test/src/atoms/tina_badge_test.dart
  packages/tina_ui/test/src/atoms/tina_spinner_test.dart
  packages/tina_ui/test/src/atoms/tina_text_test.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

format
  packages/tina_ui/test/src/atoms/tina_text_test.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

add app sidebar
  apps/tina_app/lib/main.dart
  apps/tina_app/lib/router/app_router.dart
  apps/tina_app/lib/screens/agents/agents_screen.dart
  apps/tina_app/lib/screens/chats/chat_screen.dart
  apps/tina_app/lib/screens/home/home_screen.dart
  apps/tina_app/lib/screens/models/models_screen.dart
  apps/tina_app/lib/screens/prompts/prompts_screen.dart
  apps/tina_app/lib/screens/settings/settings_screen.dart
  apps/tina_app/lib/screens/tools/tools_screen.dart
  apps/tina_app/lib/widgets/tina_sidebar.dart
  apps/tina_app/macos/Flutter/GeneratedPluginRegistrant.swift
  apps/tina_app/macos/Podfile.lock
  apps/tina_app/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: PR Validation, Main Branch CI/CD, Quick Development Check

add sidebar designed with tina
  .vscode/launch.json
  apps/tina_app/lib/router/app_router.dart
  apps/tina_app/lib/screens/agents/agents_screen.dart
  apps/tina_app/lib/screens/chats/chat_screen.dart
  apps/tina_app/lib/screens/home/home_screen.dart
  apps/tina_app/lib/screens/models/models_screen.dart
  apps/tina_app/lib/screens/prompts/prompts_screen.dart
  apps/tina_app/lib/screens/settings/settings_screen.dart
  apps/tina_app/lib/screens/tools/tools_screen.dart
  apps/tina_app/lib/widgets/tina_sidebar.dart
  apps/tina_app/test/widget_test.dart
  packages/tina_ui/lib/src/atoms/atoms.dart
  packages/tina_ui/lib/src/atoms/tina_button.dart
  packages/tina_ui/lib/src/atoms/tina_tile.dart
  packages/tina_ui/lib/src/organisms/organisms.dart
  packages/tina_ui/lib/src/organisms/tina_sidebar.dart
  packages/tina_ui/test/src/atoms/atoms_test.dart
  packages/tina_ui/test/src/atoms/tina_tile_test.dart
  widgetbook/lib/atoms/tina_tile_stories.dart
  widgetbook/lib/main.directories.g.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

agents orchestation
  .opencode/agent/flutter-ui-developer.md
  .opencode/agent/infrastructure-builder.md
  .opencode/agent/package-manager.md
  .opencode/agent/quality-guardian.md
  .opencode/agent/test-engineer.md
  .opencode/agent/tina-orchestrator.md
  .opencode/command/work-on-subtask.md
  AGENT_ORCHESTRATION.md
  opencode.json
  prompts/code-researcher.txt
  prompts/documentation-researcher.txt
  prompts/online-researcher.txt
  prompts/orchestrator.txt
  prompts/package-builder.txt
  prompts/reviewer.txt
  prompts/solution-brainstormer.txt
  prompts/solution-decision-maker.txt
  prompts/tester.txt
  prompts/tina-app-builder.txt
  prompts/tina-ui-builder.txt
  prompts/widget-builder.txt
Due: none

feat(app): add welcome screen with onboarding flow
  apps/tina_app/lib/router/app_router.dart
  apps/tina_app/lib/screens/welcome/welcome_screen.dart
  packages/tina_ui/test/src/atoms/tina_button_test.dart
  prompts/orchestrator.txt
Due: PR Validation, Main Branch CI/CD, Quick Development Check

Sidebar (#9)
  .vscode/launch.json
  apps/tina_app/lib/main.dart
  apps/tina_app/lib/router/app_router.dart
  apps/tina_app/lib/screens/agents/agents_screen.dart
  apps/tina_app/lib/screens/chats/chat_screen.dart
  apps/tina_app/lib/screens/home/home_screen.dart
  apps/tina_app/lib/screens/models/models_screen.dart
  apps/tina_app/lib/screens/prompts/prompts_screen.dart
  apps/tina_app/lib/screens/settings/settings_screen.dart
  apps/tina_app/lib/screens/tools/tools_screen.dart
  apps/tina_app/lib/screens/welcome/welcome_screen.dart
  apps/tina_app/lib/widgets/tina_sidebar.dart
  apps/tina_app/macos/Flutter/GeneratedPluginRegistrant.swift
  apps/tina_app/macos/Podfile.lock
  apps/tina_app/pubspec.yaml
  apps/tina_app/test/widget_test.dart
  packages/tina_ui/lib/src/atoms/atoms.dart
  packages/tina_ui/lib/src/atoms/tina_button.dart
  packages/tina_ui/lib/src/atoms/tina_tile.dart
  packages/tina_ui/lib/src/organisms/organisms.dart
  packages/tina_ui/lib/src/organisms/tina_sidebar.dart
  packages/tina_ui/test/src/atoms/atoms_test.dart
  packages/tina_ui/test/src/atoms/tina_button_test.dart
  packages/tina_ui/test/src/atoms/tina_tile_test.dart
  prompts/orchestrator.txt
  pubspec.lock
  pubspec.yaml
  widgetbook/lib/atoms/tina_tile_stories.dart
  widgetbook/lib/main.directories.g.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

updated docs
  docs/app-vision.md
  docs/development-guidelines.md
  docs/feature-definitions.md
  docs/mobile-app-screen-navigation.md
  docs/technical-philosophy.md
  docs/tina_ai_assistant_prd.md
  docs/tools.md
  docs/user-experience-patterns.md
Due: none

updated mcps
  .mcp.dart.json
  opencode.json
Due: none

add tooks to subagents
  opencode.json
Due: none

feat(agents): enhance agent capabilities with Serena semantic tools
  opencode.json
  prompts/code-researcher.txt
  prompts/documentation-researcher.txt
  prompts/online-researcher.txt
  prompts/orchestrator.txt
  prompts/package-builder.txt
  prompts/reviewer.txt
  prompts/solution-brainstormer.txt
  prompts/solution-decision-maker.txt
  prompts/tester.txt
  prompts/tina-app-builder.txt
  prompts/tina-ui-builder.txt
  prompts/widget-builder.txt
Due: none

serena init
  .serena/.gitignore
  .serena/memories/bloc-cubit-architecture-pattern.md
  .serena/project.yml
Due: none

add serena memories
  .serena/memories/code_style_conventions.md
  .serena/memories/development_commands.md
  .serena/memories/drift_database_implementation.md
  .serena/memories/project_overview.md
  .serena/memories/task_completion_checklist.md
Due: none

add db and workspace
  .serena/memories/database_implementation_analysis.md
  apps/tina_app/lib/data/database/drift/app_database.dart
  apps/tina_app/lib/data/database/drift/app_database.g.dart
  apps/tina_app/lib/data/database/drift/daos/workspace_dao.dart
  apps/tina_app/lib/data/database/drift/daos/workspace_dao.g.dart
  apps/tina_app/lib/data/database/drift/tables/common.dart
  apps/tina_app/lib/data/database/drift/tables/workspaces_table.dart
  apps/tina_app/lib/data/datasources/local/workspace_local_datasource.dart
  apps/tina_app/lib/data/repositories/workspace_repository_impl.dart
  apps/tina_app/lib/domain/entities/workspace.dart
  apps/tina_app/lib/domain/enums/workspace_type.dart
  apps/tina_app/lib/domain/repositories/workspace_repository.dart
  apps/tina_app/linux/flutter/generated_plugin_registrant.cc
  apps/tina_app/linux/flutter/generated_plugins.cmake
  apps/tina_app/macos/Flutter/GeneratedPluginRegistrant.swift
  apps/tina_app/macos/Podfile.lock
  apps/tina_app/pubspec.yaml
  apps/tina_app/test/data/database/workspace_dao_test.dart
  apps/tina_app/test/data/repositories/workspace_repository_impl_test.dart
  apps/tina_app/windows/flutter/generated_plugin_registrant.cc
  apps/tina_app/windows/flutter/generated_plugins.cmake
  pubspec.lock
Due: PR Validation, Main Branch CI/CD, Quick Development Check

no welcome screen
  apps/tina_app/lib/router/app_router.dart
  apps/tina_app/lib/screens/settings/settings_screen.dart
  apps/tina_app/lib/screens/welcome/welcome_screen.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

refactor(agents): streamline agent architecture and enhance capabilities
  opencode.json
  prompts/code-researcher.txt
  prompts/documentation-researcher.txt
  prompts/online-researcher.txt
  prompts/orchestrator.txt
  prompts/package-builder.txt
  prompts/researcher.txt
  prompts/solution-brainstormer.txt
  prompts/solution-decision-maker.txt
  prompts/solution-generator.txt
  prompts/tester.txt
  prompts/tina-app-builder.txt
  prompts/tina-ui-builder.txt
  prompts/widget-builder.txt
Due: none

add memories
  .serena/memories/workspace_screen_text_button_issue_analysis.md
  opencode.json
  prompts/dart-ops.txt
  prompts/orchestrator.txt
Due: none

fix name features
  apps/tina_app/lib/features/agents/agents_screen.dart
  apps/tina_app/lib/features/chats/chat_screen.dart
  apps/tina_app/lib/features/home/home_screen.dart
  apps/tina_app/lib/features/models/models_screen.dart
  apps/tina_app/lib/features/prompts/prompts_screen.dart
  apps/tina_app/lib/features/settings/settings_screen.dart
  apps/tina_app/lib/features/tools/tools_screen.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

fixed models providers db
  .githooks/pre-commit
  .serena/memories/database_implementation_analysis.md
  apps/tina_app/lib/data/database/drift/app_database.dart
  apps/tina_app/lib/data/database/drift/app_database.g.dart
  apps/tina_app/lib/data/database/drift/daos/chat_models_dao.dart
  apps/tina_app/lib/data/database/drift/daos/chat_models_dao.g.dart
  apps/tina_app/lib/data/database/drift/daos/model_providers_dao.dart
  apps/tina_app/lib/data/database/drift/daos/model_providers_dao.g.dart
  apps/tina_app/lib/data/database/drift/daos/workspace_dao.dart
  apps/tina_app/lib/data/database/drift/tables/chat_models_table.dart
  apps/tina_app/lib/data/database/drift/tables/model_provider_table.dart
  apps/tina_app/lib/data/database/drift/tables/workspaces_table.dart
  apps/tina_app/lib/data/datasources/local/workspace_local_datasource.dart
  apps/tina_app/lib/data/repositories/chat_models_repository_impl.dart
  apps/tina_app/lib/data/repositories/model_providers_repository_impl.dart
  apps/tina_app/lib/data/repositories/workspace_repository_impl.dart
  apps/tina_app/lib/domain/entities/chat_model_model.dart
  apps/tina_app/lib/domain/entities/chat_model_model.freezed.dart
  apps/tina_app/lib/domain/enums/workspace_type.dart
  apps/tina_app/lib/domain/repositories/chat_models_repository.dart
  apps/tina_app/lib/domain/repositories/model_providers_repository.dart
  apps/tina_app/lib/features/models/models/add_chat_model_model.freezed.dart
  apps/tina_app/lib/features/models/models/add_model_provider_model.dart
  apps/tina_app/lib/features/models/providers/add_chat_model_providers.g.dart
  apps/tina_app/lib/features/models/providers/add_model_provider_providers.dart
  apps/tina_app/lib/features/models/providers/add_model_provider_providers.g.dart
  apps/tina_app/lib/features/models/providers/chat_models_repository_providers.dart
  apps/tina_app/lib/features/models/providers/chat_models_repository_providers.g.dart
  apps/tina_app/lib/features/models/providers/list_models_providers.dart
  apps/tina_app/lib/features/models/providers/list_models_providers.g.dart
  apps/tina_app/lib/features/models/providers/model_providers_repository_providers.dart
  apps/tina_app/lib/features/models/providers/model_providers_repository_providers.g.dart
  apps/tina_app/lib/features/models/screens/models_screen.dart
  apps/tina_app/lib/features/models/widgets/add_chat_model.dart
  apps/tina_app/lib/features/models/widgets/list_models.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

feat: load models from model provider
  apps/tina_app/lib/data/database/drift/app_database.dart
  apps/tina_app/lib/data/database/drift/app_database.g.dart
  apps/tina_app/lib/data/database/drift/daos/chat_models_dao.dart
  apps/tina_app/lib/data/database/drift/daos/chat_models_dao.g.dart
  apps/tina_app/lib/data/repositories/chat_model_repository_impl.dart
  apps/tina_app/lib/data/repositories/model_providers_repository_impl.dart
  apps/tina_app/lib/domain/entities/chat_models_entities.dart
  apps/tina_app/lib/domain/entities/chat_models_entities.freezed.dart
  apps/tina_app/lib/domain/entities/model_providers_entities.dart
  apps/tina_app/lib/domain/entities/model_providers_entities.freezed.dart
  apps/tina_app/lib/domain/repositories/chat_models_repository.dart
  apps/tina_app/lib/domain/repositories/model_providers_repository.dart
  apps/tina_app/lib/features/models/providers/add_model_provider_providers.dart
  apps/tina_app/lib/features/models/providers/add_model_provider_providers.g.dart
  apps/tina_app/lib/features/models/providers/list_models_providers.dart
  apps/tina_app/lib/features/models/providers/model_providers_repository_providers.dart
  apps/tina_app/lib/features/models/providers/model_providers_repository_providers.g.dart
  apps/tina_app/lib/features/models/widgets/list_models.dart
  apps/tina_app/lib/services/model_provider_services/model_provider_services.dart
  apps/tina_app/lib/services/model_provider_services/models/antropic_responses.dart
  apps/tina_app/lib/services/model_provider_services/models/antropic_responses.freezed.dart
  apps/tina_app/lib/services/model_provider_services/models/antropic_responses.g.dart
  apps/tina_app/pubspec.yaml
  pubspec.lock
Due: PR Validation, Main Branch CI/CD, Quick Development Check

vs settings
  .vscode/settings.json
Due: none

feat: add localization
  apps/tina_app/assets/i18n/en.json
  apps/tina_app/assets/i18n/es.json
  apps/tina_app/ios/Runner/Info.plist
  apps/tina_app/lib/features/models/screens/models_screen.dart
  apps/tina_app/lib/i18n/locale_keys.dart
  apps/tina_app/lib/main.dart
  apps/tina_app/lib/main/locale.dart
  apps/tina_app/lib/widgets/text_locale.dart
  apps/tina_app/macos/Flutter/GeneratedPluginRegistrant.swift
  apps/tina_app/macos/Podfile.lock
  apps/tina_app/pubspec.yaml
  apps/tina_app/windows/flutter/generated_plugin_registrant.cc
  apps/tina_app/windows/flutter/generated_plugins.cmake
  pubspec.lock
  pubspec.yaml
Due: PR Validation, Main Branch CI/CD, Quick Development Check

add app config
  apps/tina_app/lib/config/config.dart
  apps/tina_app/lib/main/locale.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

fix generated models
  apps/tina_app/lib/features/models/models/add_model_provider_model.dart
  apps/tina_app/lib/features/models/models/add_model_provider_model.freezed.dart
  apps/tina_app/lib/services/model_provider_services/models/antropic_responses.dart
  apps/tina_app/lib/services/model_provider_services/models/antropic_responses.freezed.dart
  apps/tina_app/lib/services/model_provider_services/models/antropic_responses.g.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

fix: add chat localizations
  apps/tina_app/assets/i18n/en.json
  apps/tina_app/assets/i18n/es.json
  apps/tina_app/lib/i18n/locale_keys.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

fix: generated type safe routing
  apps/tina_app/assets/i18n/en.json
  apps/tina_app/assets/i18n/es.json
  apps/tina_app/lib/features/home/home_screen.dart
  apps/tina_app/lib/i18n/locale_keys.dart
  apps/tina_app/lib/main.dart
  apps/tina_app/lib/router/app_router.dart
  apps/tina_app/lib/router/app_router.g.dart
  apps/tina_app/lib/widgets/tina_sidebar.dart
  apps/tina_app/pubspec.yaml
  apps/tina_app/test/widget_test.dart
  packages/tina_ui/lib/src/organisms/tina_sidebar.dart
  pubspec.lock
Due: PR Validation, Main Branch CI/CD, Quick Development Check

feat: chat screens
  apps/tina_app/lib/domain/entities/chat_entities.dart
  apps/tina_app/lib/features/chats/chat_screen.dart
  apps/tina_app/lib/features/chats/providers/chat_providers.dart
  apps/tina_app/lib/features/chats/providers/chat_providers.g.dart
  apps/tina_app/lib/features/chats/screens/chat_conversation_screen.dart
  apps/tina_app/lib/features/chats/screens/list_chats_screen.dart
  apps/tina_app/lib/features/chats/widgets/chat_input_widget.dart
  apps/tina_app/lib/features/chats/widgets/chat_list_widget.dart
  apps/tina_app/lib/features/chats/widgets/chat_messages_widget.dart
  apps/tina_app/lib/features/models/widgets/add_chat_model.dart
  apps/tina_app/lib/features/models/widgets/list_models.dart
  apps/tina_app/lib/features/settings/settings_screen.dart
  apps/tina_app/lib/main.dart
  apps/tina_app/lib/router/app_router.dart
  apps/tina_app/lib/router/app_router.g.dart
  packages/tina_ui/lib/src/atoms/atoms.dart
  packages/tina_ui/lib/src/atoms/tina_badge.dart
  packages/tina_ui/lib/src/atoms/tina_card.dart
  packages/tina_ui/lib/src/atoms/tina_field_wrapper.dart
  packages/tina_ui/lib/src/atoms/tina_input.dart
  packages/tina_ui/lib/src/atoms/tina_message_bubble.dart
  packages/tina_ui/lib/src/atoms/tina_screen.dart
  packages/tina_ui/lib/src/internal/tina_pressable.dart
  packages/tina_ui/lib/src/molecules/tina_dropdown_selector.dart
  packages/tina_ui/lib/src/organisms/tina_sidebar.dart
  packages/tina_ui/lib/src/tokens/design_tokens.dart
  packages/tina_ui/lib/src/tokens/tina_theme.dart
  packages/tina_ui/lib/ui.dart
  packages/tina_ui/pubspec.yaml
  packages/tina_ui/test/src/atoms/tina_badge_test.dart
  packages/tina_ui/test/src/atoms/tina_card_test.dart
  packages/tina_ui/test/src/atoms/tina_input_test.dart
  pubspec.lock
  widgetbook/lib/atoms/tina_app_bar_action_stories.dart
  widgetbook/lib/atoms/tina_badge_stories.dart
  widgetbook/lib/atoms/tina_card_stories.dart
  widgetbook/lib/atoms/tina_input_stories.dart
  widgetbook/lib/atoms/tina_tab_item_stories.dart
  widgetbook/lib/main.directories.g.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

fix: model selction
  apps/tina_app/lib/data/database/drift/daos/chat_models_dao.dart
  apps/tina_app/lib/data/repositories/chat_model_repository_impl.dart
  apps/tina_app/lib/domain/entities/chat_models_entities.dart
  apps/tina_app/lib/domain/entities/chat_models_entities.freezed.dart
  apps/tina_app/lib/domain/repositories/chat_models_repository.dart
  apps/tina_app/lib/features/chats/providers/chat_models_providers.dart
  apps/tina_app/lib/features/chats/screens/chat_conversation_screen.dart
  apps/tina_app/lib/features/models/providers/list_chat_models_providers.dart
  apps/tina_app/lib/features/models/providers/list_chat_models_providers.g.dart
  apps/tina_app/lib/features/models/widgets/select_chat_model.dart
  apps/tina_app/lib/widgets/app_error.dart
  packages/tina_ui/lib/src/molecules/tina_dropdown_selector.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

feat: add tables and daos for conversation messages
  apps/tina_app/lib/data/database/drift/app_database.dart
  apps/tina_app/lib/data/database/drift/app_database.g.dart
  apps/tina_app/lib/data/database/drift/daos/chat_models_dao.dart
  apps/tina_app/lib/data/database/drift/daos/conversation_dao.dart
  apps/tina_app/lib/data/database/drift/daos/conversation_dao.g.dart
  apps/tina_app/lib/data/database/drift/daos/message_dao.dart
  apps/tina_app/lib/data/database/drift/daos/message_dao.g.dart
  apps/tina_app/lib/data/database/drift/daos/model_providers_dao.dart
  apps/tina_app/lib/data/database/drift/daos/workspace_dao.dart
  apps/tina_app/lib/data/database/drift/tables/chat_models_table.dart
  apps/tina_app/lib/data/database/drift/tables/common.dart
  apps/tina_app/lib/data/database/drift/tables/conversations_table.dart
  apps/tina_app/lib/data/database/drift/tables/messages_table.dart
  apps/tina_app/lib/data/database/drift/tables/model_provider_table.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

feat: messages repositories
  apps/tina_app/lib/data/database/drift/app_database.g.dart
  apps/tina_app/lib/data/database/drift/daos/chat_models_dao.dart
  apps/tina_app/lib/data/database/drift/daos/conversation_dao.dart
  apps/tina_app/lib/data/database/drift/daos/message_dao.dart
  apps/tina_app/lib/data/database/drift/daos/model_providers_dao.dart
  apps/tina_app/lib/data/database/drift/daos/workspace_dao.dart
  apps/tina_app/lib/data/database/drift/enums/message_table_enums.dart
  apps/tina_app/lib/data/database/drift/tables/chat_models_table.dart
  apps/tina_app/lib/data/database/drift/tables/messages_table.dart
  apps/tina_app/lib/data/database/drift/tables/model_provider_table.dart
  apps/tina_app/lib/data/datasources/local/workspace_local_datasource.dart
  apps/tina_app/lib/data/repositories/chat_model_repository_impl.dart
  apps/tina_app/lib/data/repositories/conversation_repository_impl.dart
  apps/tina_app/lib/data/repositories/message_repository_impl.dart
  apps/tina_app/lib/data/repositories/model_providers_repository_impl.dart
  apps/tina_app/lib/data/repositories/workspace_repository_impl.dart
  apps/tina_app/lib/domain/entities/chat_models_entities.dart
  apps/tina_app/lib/domain/entities/chat_models_entities.freezed.dart
  apps/tina_app/lib/domain/entities/conversation.dart
  apps/tina_app/lib/domain/entities/conversation.freezed.dart
  apps/tina_app/lib/domain/entities/model_providers_entities.dart
  apps/tina_app/lib/domain/entities/model_providers_entities.freezed.dart
  apps/tina_app/lib/domain/entities/workspace.dart
  apps/tina_app/lib/domain/entities/workspace.freezed.dart
  apps/tina_app/lib/domain/enums/message_types.dart
  apps/tina_app/lib/domain/repositories/conversation_repository.dart
  apps/tina_app/lib/domain/repositories/message_repository.dart
  apps/tina_app/lib/domain/repositories/workspace_repository.dart
  apps/tina_app/lib/features/models/widgets/select_chat_model.dart
  apps/tina_app/lib/main.dart
  apps/tina_app/lib/services/model_provider_services/model_provider_services.dart
  apps/tina_app/test/data/database/workspace_dao_test.dart
  apps/tina_app/test/widget_test.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

fix tests
  packages/tina_ui/test/src/atoms/atoms_test.dart
  packages/tina_ui/test/src/atoms/tina_avatar_test.dart
  packages/tina_ui/test/src/atoms/tina_button_test.dart
  packages/tina_ui/test/src/atoms/tina_card_test.dart
  packages/tina_ui/test/src/atoms/tina_message_bubble_test.dart
  packages/tina_ui/test/src/atoms/tina_text_test.dart
  packages/tina_ui/test/src/atoms/tina_typing_indicator_test.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

fix input test
  packages/tina_ui/test/src/atoms/tina_input_test.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

update dep
  dependency_validator.yaml
  pubspec.lock
  pubspec.yaml
Due: PR Validation

refactor: migrate from BLoC to Riverpod state management
  .serena/memories/bloc-cubit-architecture-pattern.md
  .serena/memories/code_style_conventions.md
  .serena/memories/drift_database_implementation.md
  .serena/memories/project_overview.md
  .serena/memories/task_completion_checklist.md
  AGENTS.md
  apps/tina_app/dart_dependency_validator.yaml
  apps/tina_app/pubspec.yaml
  dependency_validator.yaml
  packages/tina_ui/ATOMIC_DESIGN_STRUCTURE.md
  packages/tina_ui/pubspec.yaml
  prompts/dart-ops.txt
  prompts/orchestrator.txt
  prompts/researcher.txt
  pubspec.lock
  widgetbook/pubspec.yaml
Due: PR Validation, Main Branch CI/CD, Quick Development Check

fix main
  apps/tina_app/lib/main.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

chats and messages from data storate
  apps/tina_app/lib/data/database/drift/daos/message_dao.dart
  apps/tina_app/lib/data/repositories/conversation_repository_impl.dart
  apps/tina_app/lib/data/repositories/message_repository_impl.dart
  apps/tina_app/lib/domain/entities/conversation.dart
  apps/tina_app/lib/domain/entities/conversation.freezed.dart
  apps/tina_app/lib/domain/repositories/conversation_repository.dart
  apps/tina_app/lib/domain/repositories/message_repository.dart
  apps/tina_app/lib/features/chats/providers/chat_providers.dart
  apps/tina_app/lib/features/chats/providers/chat_providers.g.dart
  apps/tina_app/lib/features/chats/providers/conversation_providers.dart
  apps/tina_app/lib/features/chats/providers/conversation_providers.g.dart
  apps/tina_app/lib/features/chats/providers/conversation_repository_provider.dart
  apps/tina_app/lib/features/chats/providers/conversation_repository_provider.g.dart
  apps/tina_app/lib/features/chats/providers/messages_providers.dart
  apps/tina_app/lib/features/chats/providers/messages_providers.g.dart
  apps/tina_app/lib/features/chats/screens/chat_conversation_screen.dart
  apps/tina_app/lib/features/chats/screens/new_chat_screen.dart
  apps/tina_app/lib/features/chats/widgets/chat_input_widget.dart
  apps/tina_app/lib/features/chats/widgets/chat_list_widget.dart
  apps/tina_app/lib/features/chats/widgets/chat_messages_widget.dart
  apps/tina_app/lib/features/models/widgets/select_chat_model.dart
  apps/tina_app/lib/features/workspaces/providers/selected_workspace.dart
  apps/tina_app/lib/features/workspaces/providers/selected_workspace.g.dart
  apps/tina_app/lib/router/app_router.dart
  apps/tina_app/lib/services/chatbot_service/chatbot_service.dart
  apps/tina_app/lib/services/chatbot_service/models/chat_message_models.dart
  apps/tina_app/lib/utils/drain.dart
  apps/tina_app/pubspec.yaml
Due: PR Validation, Main Branch CI/CD, Quick Development Check

stream messages
  apps/tina_app/lib/data/database/drift/daos/chat_models_dao.dart
  apps/tina_app/lib/data/database/drift/daos/message_dao.dart
  apps/tina_app/lib/data/database/drift/enums/message_table_enums.dart
  apps/tina_app/lib/data/repositories/chat_model_repository_impl.dart
  apps/tina_app/lib/data/repositories/message_repository_impl.dart
  apps/tina_app/lib/domain/entities/conversation.dart
  apps/tina_app/lib/domain/entities/conversation.freezed.dart
  apps/tina_app/lib/domain/enums/message_types.dart
  apps/tina_app/lib/domain/repositories/chat_models_repository.dart
  apps/tina_app/lib/domain/repositories/message_repository.dart
  apps/tina_app/lib/features/chats/providers/conversation_providers.dart
  apps/tina_app/lib/features/chats/providers/conversation_providers.g.dart
  apps/tina_app/lib/features/chats/providers/messages_providers.dart
  apps/tina_app/lib/features/chats/providers/messages_providers.g.dart
  apps/tina_app/lib/features/chats/screens/chat_conversation_screen.dart
  apps/tina_app/lib/features/chats/screens/new_chat_screen.dart
  apps/tina_app/lib/features/chats/widgets/chat_input_widget.dart
  apps/tina_app/lib/features/chats/widgets/chat_list_widget.dart
  apps/tina_app/lib/features/chats/widgets/chat_messages_widget.dart
  apps/tina_app/lib/providers/messages_manager_provider.dart
  apps/tina_app/lib/providers/messages_manager_provider.freezed.dart
  apps/tina_app/lib/providers/messages_manager_provider.g.dart
  apps/tina_app/lib/services/chatbot_service/chatbot_service.dart
  apps/tina_app/pubspec.yaml
  packages/tina_ui/lib/src/atoms/tina_message_bubble.dart
  packages/tina_ui/pubspec.yaml
  pubspec.lock
Due: PR Validation, Main Branch CI/CD, Quick Development Check

test(tina_ui): update message bubble test for markdown rendering
  packages/tina_ui/test/src/atoms/tina_message_bubble_test.dart
Due: PR Validation, Main Branch CI/CD, Quick Development Check

Path conditions:
  PR Validation: any of: apps/**, packages/**, melos.yaml, codemagic.yaml, pubspec.yaml, but not: **/*.md, **/README.md, docs/**
  Main Branch CI/CD: any of: apps/**, packages/**, melos.yaml, codemagic.yaml
  Quick Development Check: any of: apps/**, packages/**
